<!doctype html>
<html class="ui-page-login">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/homepage/homepage.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="../../libs/mySlider/mySlider.css"/>
	</head>

	<body>
		<script src="../../js/mui.min.js"></script>
		<script src="../../libs/mySlider/mySlider.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../libs/template-web.js" type="text/javascript" charset="utf-8"></script>
		<script id='template2' type="text/html">
			<ul class="mui-table-view">
				<% for (let item of newsList) {%>
					<li class="mui-table-view-cell mui-media">
	    			        <a href="javascript:;">
	    			            <img class="mui-media-object mui-pull-left" src=<%=item.src%>>
	    			            <div class="mui-media-body">
	    			                <%=item.title%>
	    			                <p class="mui-ellipsis"><%=item.content%></p>
	    			            </div>
	    			        </a>
	    			    </li>
				<%}%>
			</ul>
		</script>
		<script id='template1' type="text/html">
			<% for(let item of tabList) {%>
				<div class="mui-row routine-tab" style="background-color:<%=item.bgColor%>;">
					<div class="right-circle" style="background-color: <%=item.circleColor%>;"></div>
					<div class="left-circle" style="background-color: <%=item.circleColor%>;"></div>
					<div class="middle-circle" style="background-color: <%=item.circleColor%>;"></div>
					<div class="mui-col-sm-6 mui-col-xs-6">
						<div class="routine-img">
							<img style="width:100%;height: 100%;" src=<%=item.src%>>
						</div>
					</div>
					<div class="mui-col-sm-1 mui-col-xs-1"></div>
					<div class="mui-col-sm-5 mui-col-xs-5" style="color: <%=item.fontColor%>;height: 90px;">
						<div class="mui-row" style="height: 50px;line-height: 25px;margin-top: 20px;">
							<%=item.title%>
							<p  style="color: <%=item.fontColor%>"><%=item.content%></p>
						</div>
					</div>
					
				</div>
			<%}%>
		</script>
		<script type="text/javascript">
			mui.init()
		</script>
		<div class="mui-content" style="padding: 15px 2vw 0 2vw;">
			<div class="mui-row">
				<div class="mui-col-sm-2 mui-col-xs-2">
					<div class="mui-row" style="text-align: center;height: 35px;line-height: 35px;">
						<i style="float: left;font-size: 1.5em;" class="iconfont icon-location"></i>	
					</div>
				</div>
				<div class="mui-col-sm-8 mui-col-xs-8">
					<div class="mui-row zyf-search-row">
						<div class="mui-col-sm-2 mui-col-xs-2" style="text-align: center;padding-left:1.5vw;">
							<i style="float: left;font-size: 1.5em;" class="iconfont icon-search"></i>	
						</div>
					    <div class="mui-col-sm-10 mui-col-xs-10">
					    		<input class="zyf-search-input" type="text" placeholder="">
					    </div>
					</div>
				</div>
				<div class="mui-col-sm-2 mui-col-xs-2">
					<div class="mui-row" style="text-align: center;height: 35px;line-height:35px;">
						<i style="float: left;font-size: 1.5em;float: right;" class="iconfont icon-scan"></i>	
					</div>
				</div>
			</div>
			<div class="mui-row">
				<div id='mySlider-container' class="mySlider-container"></div>	
			</div>
		    <div class="mui-row" style="border-radius: 3px;box-shadow: 0 0 5px #DDDDDD;color: #333333;padding: 10px 0;">
		    		<div class="mui-col-sm-3 mui-col-xs-3">
		    			<div class="mui-row" style="text-align: center;height: 40px;line-height: 40px;">
		    				<i style="font-size: 2em;color: #FFC32D;" class="iconfont icon-record"></i>
		    			</div>
		    			<div class="mui-row" style="text-align: center;font-size: 0.9em;">
		    				每日记录
		    			</div>
		    		</div>
		    		<div class="mui-col-sm-3 mui-col-xs-3">
		    			<div class="mui-row" style="text-align: center;height: 40px;line-height: 40px;">
		    				<i style="font-size: 2em;color: #F15D80;" class="iconfont icon-pregnancy-greet"></i>
		    			</div>
		    			<div class="mui-row" style="text-align: center;font-size: 0.9em;">
		    				好孕花园
		    			</div>
		    		</div>
		    		<div class="mui-col-sm-3 mui-col-xs-3">
		    			<div class="mui-row" style="text-align: center;height: 40px;line-height: 40px;">
		    				<i style="font-size: 2em;color: #0CA29A;" class="iconfont icon-custom-remind"></i>
		    			</div>
		    			<div class="mui-row" style="text-align: center;font-size: 0.9em;">
		    				定制提醒
		    			</div>
		    		</div>
		    		<div class="mui-col-sm-3 mui-col-xs-3">
		    			<div class="mui-row" style="text-align: center;height: 40px;line-height: 40px;">
		    				<i style="font-size: 2em;color: #2C80E5;" class="iconfont icon-course"></i>
		    			</div>
		    			<div class="mui-row" style="text-align: center;font-size: 0.9em;">
		    				我的历程
		    			</div>
		    		</div>
		    </div>
		    <div class="mui-row" style="margin-top: 15px;border-radius: 5px;box-shadow: 0 0 5px #DDDDDD;color: #333333;">
		    		<div class="mui-col-sm-6 mui-col-xs-6" style="border-right: 1px solid #D8D8D8;border-bottom:  1px solid #D8D8D8;">
		    			<div id='routines' class="mui-row zyf-active-tab" style="height: 50px;line-height: 50px; text-align: center;">
		    				今日事项
		    			</div>
		    		</div>
		    		<div class="mui-col-sm-6 mui-col-xs-6" style="border-bottom:  1px solid #D8D8D8;">
		    			<div id='dailyNews' class="mui-row" style="height: 50px;line-height: 50px;text-align: center;">
		    				每日资讯
		    			</div>
		    		</div>
		    		<div id='container' class="mui-col-sm-12 mui-col-xs-12">
		    		</div>
		    </div>
		</div>
	<script src="../../js/homepage/homepage.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		updateRoutines();
	</script>
	</body>

</html>